body {
  background-color: #fff;
  color: #666; }

.folder-tree .ant-tree-title {
  position: relative;
  padding-left: 34px; }

.folder-tree .ant-tree-title:before {
  background: url("./Icon-Item-Folder.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 24px;
  content: ''; }
